#root {
  max-width: 1020px;

  text-align: center;
}
body {
  font-family: "Advent Pro", sans-serif;
  max-width: 1020px;
  margin: 0 auto;
  /* background-color: #060606; */
}
input,
select {
  font-family: "Advent Pro", sans-serif;
  display: block;
  background-color: #fbe9f0;
  color: #060606;
  margin: 0.3em auto;
}
select,
.light--generate--btn,
.dark--generate--btn {
  padding: 0.5em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
button > .light--generate--btn,
button > .light--day--night {
  background-color: #f6d5f7;
  color: #060606;
  border-radius: 18px;
}
.dark--generate--btn,
.dark--day--night {
  background-color: #060606;
  color: #f6d5f7;
  border-radius: 8px;
}
.dark--generate--btn,
.light--generate--btn {
  font-family: "Advent Pro", sans-serif;
  width: 255px;
  margin: 0.3em auto;
}
.palette--block {
  height: 20px;
  width: 20px;
}
select option:checked,
select option:hover {
  box-shadow: 0 0 10px 100px #060606 inset;
}

option {
  font-family: "Advent Pro", sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form > .generate--settings {
  display: flex;
  flex-direction: row;
  align-items: center;
}

::-moz-color-swatch,
input[type="color" i]::-webkit-color-swatch {
  margin-inline: auto;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  display: block;
}

input {
  height: 40px;
  width: 60px;
  margin: 1em;
  border: none;
}
.picked--color {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

header {
  color: #e5e5e5;
  position: relative;
}
.container {
  padding: 1em;
  background: hsla(333, 100%, 90%, 1);

  background: linear-gradient(
    90deg,
    hsla(333, 100%, 60%, 1) 0%,
    hsla(33, 94%, 40%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(333, 100%, 60%, 1) 0%,
    hsla(33, 94%, 40%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(333, 100%, 60%, 1) 0%,
    hsla(33, 94%, 40%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );
}
.dark--palette--container {
  padding: 1em;
  background-color: #060606;
}

.light--palette--container {
  background-color: #fff7ff;
  padding: 1em;
  color: #060606;
}

/* .color--block > .light--hexvalue {
  color: #060606;
} */

.light--day--night,
.dark--day--night {
  /* background-color: #fff7ff;
  border: #fff7ff solid 1px; */
  /* background-color: #060606;
  border: transparent solid 1px; */
  border-radius: 8px;
  position: absolute;
  top: 0px;
  right: 10px;

  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 1.3em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.container {
  margin: 0 auto;
}
.color--palette {
  margin: 2em;
}
.light--color--block,
.dark--color--block {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dark--color--block > input {
  display: block;
  height: 2em;
  /* margin-left: 1em; */
  border: none;
  font-size: 1em;
  text-align: center;
  width: 100px;
  background-color: transparent;
  color: #e5e5e5;
  /* font-family: "Advent Pro", sans-serif; */
}
.light--color--block > input {
  background-color: transparent;
}
.color--cell {
  width: 250px;
  height: 90px;
  margin: 0 0 5px 0;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

@media (min-width: 560px) {
  .color--palette {
    display: grid;
    margin: 2em auto;
    grid-template-columns: repeat(5, minmax(80px, 120px));
    justify-content: center;
    gap: 0.3em;
  }
  .light--palette--container,
  .dark--palette--container {
    height: 100vh;
  }
  .color--cell {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
  }
  .light--color--block,
  .dark--color--block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
