#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}
body {
  font-family: "Advent Pro", sans-serif;
  max-width: 1020px;
  margin: 0 auto;
}
input,
select,
button {
  font-family: "Advent Pro", sans-serif;
}

.container {
  margin: 0 auto;
}
.color--palette {
  margin: 2em;
}
.color--block {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.color--block > input {
  display: block;
  height: 2em;
  /* margin-left: 1em; */
  border: none;
  font-size: 1em;
  text-align: center;
  width: 100px;
  /* font-family: "Advent Pro", sans-serif; */
}
.color--cell {
  width: 250px;
  height: 90px;
  margin: 0 0 5px 0;
  border-radius: 8px;
}

@media (min-width: 560px) {
  .color--palette {
    display: grid;
    margin: 2em auto;
    grid-template-columns: repeat(5, minmax(80px, 120px));
    justify-content: center;
    gap: 0.3em;
  }
  .color--cell {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
  }
  .color--block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
